@model Doceria.Models.Doces
@{ ViewBag.Title = "DocesCadastrados"; }

<h2>O produto foi cadastrado com sucesso</h2>
<br>
<p>@Html.ActionLink("Voltar", "Doces", "Home")</p>
<p>@Html.ActionLink("Visualizar Doces", "ListarDoces", "Home")</p>
