@model Doceria.Models.Fornecedor
@{ ViewBag.Title = "FornecedorCad"; }

<center><h1>O fornecedor foi cadastrado com sucesso!!!!</h1></center>
<br />
<p>@Html.ActionLink("Voltar", "Fornecedor", "Home")</p>
<p>@Html.ActionLink("Visualizar Fornecedores", "FornecedorListar", "Home")</p>
