@{
    ViewBag.Title = "HOME PAGE";
}

<div class="jumbotron">
    <center><h1>&hearts; DOCERIA LINDA &hearts;</h1></center><br><br>
    <center><p class="lead">Doceria fictícia criada para a realização da seguinte tarefa: <br />"Fazer a seguinte aplicação ASP.NET MVC com banco de dados cadastrar e listar."</p></center><br><br>
    <div class="row">
        <div class="col-md-6">
            <center><h2>Cadastre seu doce!</h2></center><!--About contact-->
            <p><center><a href="https://localhost:44378/Home/Doces" class="btn btn-info" role="button">OS DOCES &raquo;</a></center></p>
        </div>
        <div class="col-md-6">
            <center><h2>Liste os doces!</h2></center>
            <p><center><a href="https://localhost:44378/Home/ListarDoces" class="btn btn-info" role="button">OS DOCES &raquo;</a></center></p>
        </div>
        <div class="col-md-6">
            <center><h2>Cadastro funcionários</h2></center>
            <p><center><a href="https://localhost:44378/Home/Fornecedor" class="btn btn-info" role="button">FUNCIONÁRIOS &raquo;</a></center></p>
        </div>
        <div class="col-md-6">
            <center><h2>Liste os funcionários</h2></center>
            <p><center><a href="https://localhost:44378/Home/FornecedorListar" class="btn btn-info" role="button">FUNCIONÁRIOS &raquo;</a></center></p>
            <br><br><br><br><br>
        </div>
        <center><h3>"VIVA O DIA, COMO SE VOCÊ SÓ TIVESSE 24 HORAS." <br />-Autor desconhecido.</h3></center>           
    </div>
</div>